<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mundo PC</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <nav id="navBar">
            <a href="./index.html">
                <img id="logo" src="../Assets/logo.png" alt="Logo">
            </a>
            <div id="menu">
                <a href="./Productos.html" id="menuLink1">Productos</a>
                <a href="./Carrito.html" id="menuLink2">Carrito</a>
            </div>
        </nav>
        
        
        <main id="producto_individual">
            <section id="contenedor_producto">
                <img id="img_producto">
                <div id="informacion">
                    <h1 id="nombre"></h1>
                    <p id="descripcion"></p>
                    <p id="precio"></p>
                    <button id="agregar">Agregar al Carrito</button>
                </div>
            </section>
        </main>
        
        
        <footer id="footer">
            <div id="menuf">
                <a href="./Productos.html" id="menufLink1">Productos</a>
                <a href="./Carrito.html" id="menufLink2">Carrito</a>
            </div>
        </footer>
    </body>
    <script type="module" src="../JavaScript/cargar_estilos.js"></script>
    <script type="module" src="../JavaScript/cargar_productos.js" defer></script>
</html>